*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}


html {
font-family:"Outfit",sans-serif;

}

.container  {
   background-color: hsl(217, 54%, 11%);
min-height: 100vh;
padding: 24px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.Cubo {
   border-radius: 8px;
   overflow: hidden;
}

.Fruto {
   background-color: hsl(216, 50%, 16%);
   max-width: 350px;
   padding: 25px ;
   border-radius:15px;
   height: 85vh;
}

.title {
   color: white;
   font-family:"outfit",sans-serif ;
   margin-bottom: 20px;
   margin-top: 20px;
   font-weight: 600;
margin-bottom: 23px;
letter-spacing: 1px;
}
 
.aqua {
   color: aqua;
  
}


.Parrafo {
color:bisque;
margin-bottom: 20px;
letter-spacing: 1px;

}

.clock{
display: flex;
width: 100px;
   margin-right: 6px;
   align-items: center;
   margin-bottom: 20px;
}

.text time{
display: flex;
margin-right: 6px;
justify-content: space-between;

}

.Fruto .clock {
   display: flex;
   justify-content: space-between;
font-weight: 500;
}



.time {
   display: flex;
   justify-content: space-between;
}

.days {
   color:hsl(216, 30%, 55%);
}

.pie {
display: flex;
justify-content: space-between;
align-items: center;
}



.men {
height: 35px;
width: 35px;
border-radius: 50px;
border: 2px solid white;
}

.nosebroer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

.crack {
margin-bottom: 20px;

}


.final {
   display: flex;   
   align-items: center;
   margin-top: 20px;
   position: absolute;
}

.Creation {
margin-left: 20px;
color: hsl(216, 30%, 55%);
}

.nombre {
   color: white;
   text-decoration: none;
font-weight: normal;
}


.linea{
   border: none;
   height: 1px;
   background-color: hsl(216, 30%, 55%);
   position: relative;
   bottom: -2px;
}